In [1]:
# Chi square :  Cat vs Cat
# t-test : Cat vs num. Two categories. Varibales <= 30.
# z-test : Cat vs num. Two Categories. Variables>30.
# Anova : Cat vs num. >= 3 Categories

In [2]:
# Out Standing Principle(OSP) : Loan amount to left to repay.
# Portfolio At Risk : OSP when DPD>0.
# GNPA : NPA 
# Net NPA : GNPA - Provisioning
# SMA1,SMA2,SMA3

In [3]:
# Importing basic libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
import warnings
warnings.filterwarnings('ignore')

#### Changing the current working directory

In [4]:
os.chdir('C:\LEARNBAY CLASSES\learnbay projects\FINANCE NEW DOMAIN')

In [5]:
os.getcwd()

'C:\\LEARNBAY CLASSES\\learnbay projects\\FINANCE NEW DOMAIN'

In [6]:
df1=pd.read_excel('dataset1.xlsx')
df2=pd.read_excel('dataset2.xlsx')

#### Shape of both datasets

In [7]:
print(f'Dataset1 has {df1.shape[0]} rows and {df1.shape[1]} columns.')
print(f'Dataset2 has {df2.shape[0]} rows and {df2.shape[1]} columns.')

Dataset1 has 51336 rows and 26 columns.
Dataset2 has 51336 rows and 62 columns.

#### Peeking into both datasets

In [8]:
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,...,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,...,0,0,0,0,0,3,0,2,131,32

In [9]:
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

#### We observe that some values in both the datasets are -99999. These values indicate missing values.

#### Analyzing the data types of both datasets

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROSPECTID            51336 non-null  int64
 1   Total_TL              51336 non-null  int64
 2   Tot_Closed_TL         51336 non-null  int64
 3   Tot_Active_TL         51336 non-null  int64
 4   Total_TL_opened_L6M   51336 non-null  int64
 5   Tot_TL_closed_L6M     51336 non-null  int64
 6   pct_tl_open_L6M       51336 non-null  float64
 7   pct_tl_closed_L6M     51336 non-null  float64
 8   pct_active_tl         51336 non-null  float64
 9   pct_closed_tl         51336 non-null  float64
 10  Total_TL_opened_L12M  51336 non-null  int64
 11  Tot_TL_closed_L12M    51336 non-null  int64
 12  pct_tl_open_L12M      51336 non-null  float64
 13  pct_tl_closed_L12M    51336 non-null  float64
 14  Tot_Missed_Pmnt       51336 non-null  int64
 15  Auto_TL               51336 non-null  int64
 16  CC_TL                 51336 non-null  int64
 17  Consumer_TL           51336 non-null  int64
 18  Gold_TL               51336 non-null  int64
 19  Home_TL               51336 non-null  int64
 20  PL_TL                 51336 non-null  int64
 21  Secured_TL            51336 non-null  int64
 22  Unsecured_TL          51336 non-null  int64
 23  Other_TL              51336 non-null  int64
 24  Age_Oldest_TL         51336 non-null  int64
 25  Age_Newest_TL         51336 non-null  int64
dtypes: float64(6), int64(20)
memory usage: 10.2 MB

In [11]:
#### We observe that in dataset1 there is no object datatype. So there is no need to change datatype in this set.

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROSPECTID                    51336 non-null  int64
 1   time_since_recent_payment     51336 non-null  int64
 2   time_since_first_deliquency   51336 non-null  int64
 3   time_since_recent_deliquency  51336 non-null  int64
 4   num_times_delinquent          51336 non-null  int64
 5   max_delinquency_level         51336 non-null  int64
 6   max_recent_level_of_deliq     51336 non-null  int64
 7   num_deliq_6mts                51336 non-null  int64
 8   num_deliq_12mts               51336 non-null  int64
 9   num_deliq_6_12mts             51336 non-null  int64
 10  max_deliq_6mts                51336 non-null  int64
 11  max_deliq_12mts               51336 non-null  int64
 12  num_times_30p_dpd             51336 non-null  int64
 13  num_times_60p_dpd             51336 non-null  int64
 14  num_std                       51336 non-null  int64
 15  num_std_6mts                  51336 non-null  int64
 16  num_std_12mts                 51336 non-null  int64
 17  num_sub                       51336 non-null  int64
 18  num_sub_6mts                  51336 non-null  int64
 19  num_sub_12mts                 51336 non-null  int64
 20  num_dbt                       51336 non-null  int64
 21  num_dbt_6mts                  51336 non-null  int64
 22  num_dbt_12mts                 51336 non-null  int64
 23  num_lss                       51336 non-null  int64
 24  num_lss_6mts                  51336 non-null  int64
 25  num_lss_12mts                 51336 non-null  int64
 26  recent_level_of_deliq         51336 non-null  int64
 27  tot_enq                       51336 non-null  int64
 28  CC_enq                        51336 non-null  int64
 29  CC_enq_L6m                    51336 non-null  int64
 30  CC_enq_L12m                   51336 non-null  int64
 31  PL_enq                        51336 non-null  int64
 32  PL_enq_L6m                    51336 non-null  int64
 33  PL_enq_L12m                   51336 non-null  int64
 34  time_since_recent_enq         51336 non-null  int64
 35  enq_L12m                      51336 non-null  int64
 36  enq_L6m                       51336 non-null  int64
 37  enq_L3m                       51336 non-null  int64
 38  MARITALSTATUS                 51336 non-null  object
 39  EDUCATION                     51336 non-null  object
 40  AGE                           51336 non-null  int64
 41  GENDER                        51336 non-null  object
 42  NETMONTHLYINCOME              51336 non-null  int64
 43  Time_With_Curr_Empr           51336 non-null  int64
 44  pct_of_active_TLs_ever        51336 non-null  float64
 45  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 46  pct_currentBal_all_TL         51336 non-null  float64
 47  CC_utilization                51336 non-null  float64
 48  CC_Flag                       51336 non-null  int64
 49  PL_utilization                51336 non-null  float64
 50  PL_Flag                       51336 non-null  int64
 51  pct_PL_enq_L6m_of_L12m        51336 non-null  float64
 52  pct_CC_enq_L6m_of_L12m        51336 non-null  float64
 53  pct_PL_enq_L6m_of_ever        51336 non-null  float64
 54  pct_CC_enq_L6m_of_ever        51336 non-null  float64
 55  max_unsec_exposure_inPct      51336 non-null  float64
 56  HL_Flag                       51336 non-null  int64
 57  GL_Flag                       51336 non-null  int64
 58  last_prod_enq2                51336 non-null  object
 59  first_prod_enq2               51336 non-null  object
 60  Credit_Score                  51336 non-null  int64
 61  Approved_Flag                 51336 non-null  object
dtypes: float64(10), int64(46), object(6)
memory usage: 24.3+ MB

#### Now merging the two datasets based on common column. For this, we first find the common column.

In [13]:
for i in df1.columns:
    for j in df2.columns:
        if i==j:
            print('Common Column is : ',i)

Common Column is :  PROSPECTID

In [14]:
df = pd.merge(df1,df2,how='inner',left_on='PROSPECTID',right_on='PROSPECTID')

In [15]:
df.shape

(51336, 87)

#### Converting missing values(-99999) in the dataset  to null values

In [16]:
df[df==-99999]=np.nan

#### Finding null values in each column

In [17]:
for i in df.columns:
    print(i,'-----',df[i].isnull().sum())

PROSPECTID ----- 0
Total_TL ----- 0
Tot_Closed_TL ----- 0
Tot_Active_TL ----- 0
Total_TL_opened_L6M ----- 0
Tot_TL_closed_L6M ----- 0
pct_tl_open_L6M ----- 0
pct_tl_closed_L6M ----- 0
pct_active_tl ----- 0
pct_closed_tl ----- 0
Total_TL_opened_L12M ----- 0
Tot_TL_closed_L12M ----- 0
pct_tl_open_L12M ----- 0
pct_tl_closed_L12M ----- 0
Tot_Missed_Pmnt ----- 0
Auto_TL ----- 0
CC_TL ----- 0
Consumer_TL ----- 0
Gold_TL ----- 0
Home_TL ----- 0
PL_TL ----- 0
Secured_TL ----- 0
Unsecured_TL ----- 0
Other_TL ----- 0
Age_Oldest_TL ----- 40
Age_Newest_TL ----- 40
time_since_recent_payment ----- 4291
time_since_first_deliquency ----- 35949
time_since_recent_deliquency ----- 35949
num_times_delinquent ----- 0
max_delinquency_level ----- 35949
max_recent_level_of_deliq ----- 0
num_deliq_6mts ----- 0
num_deliq_12mts ----- 0
num_deliq_6_12mts ----- 0
max_deliq_6mts ----- 12890
max_deliq_12mts ----- 10832
num_times_30p_dpd ----- 0
num_times_60p_dpd ----- 0
num_std ----- 0
num_std_6mts ----- 0
num_std_12mts ----- 0
num_sub ----- 0
num_sub_6mts ----- 0
num_sub_12mts ----- 0
num_dbt ----- 0
num_dbt_6mts ----- 0
num_dbt_12mts ----- 0
num_lss ----- 0
num_lss_6mts ----- 0
num_lss_12mts ----- 0
recent_level_of_deliq ----- 0
tot_enq ----- 6321
CC_enq ----- 6321
CC_enq_L6m ----- 6321
CC_enq_L12m ----- 6321
PL_enq ----- 6321
PL_enq_L6m ----- 6321
PL_enq_L12m ----- 6321
time_since_recent_enq ----- 6321
enq_L12m ----- 6321
enq_L6m ----- 6321
enq_L3m ----- 6321
MARITALSTATUS ----- 0
EDUCATION ----- 0
AGE ----- 0
GENDER ----- 0
NETMONTHLYINCOME ----- 0
Time_With_Curr_Empr ----- 0
pct_of_active_TLs_ever ----- 0
pct_opened_TLs_L6m_of_L12m ----- 0
pct_currentBal_all_TL ----- 72
CC_utilization ----- 47636
CC_Flag ----- 0
PL_utilization ----- 44435
PL_Flag ----- 0
pct_PL_enq_L6m_of_L12m ----- 0
pct_CC_enq_L6m_of_L12m ----- 0
pct_PL_enq_L6m_of_ever ----- 0
pct_CC_enq_L6m_of_ever ----- 0
max_unsec_exposure_inPct ----- 23178
HL_Flag ----- 0
GL_Flag ----- 0
last_prod_enq2 ----- 0
first_prod_enq2 ----- 0
Credit_Score ----- 0
Approved_Flag ----- 0

#### Removing columns if null values are greater than 25% or less than 1%.

In [18]:
cols_to_be_removed=[]
for i in df.columns:
    if df[i].isnull().sum()>0:
        if df[i].isnull().sum()>0.25*df.shape[0] or df[i].isnull().sum()<.01*df.shape[0]:
            cols_to_be_removed.append(i)
print('Columns to be removed are : ')
print(cols_to_be_removed)

Columns to be removed are :
['Age_Oldest_TL', 'Age_Newest_TL', 'time_since_first_deliquency', 'time_since_recent_deliquency', 'max_delinquency_level', 'max_deliq_6mts', 'pct_currentBal_all_TL', 'CC_utilization', 'PL_utilization', 'max_unsec_exposure_inPct']

#### Our final dataset is:

In [19]:
df=df.drop(columns=cols_to_be_removed)
df.shape

(51336, 77)

#### Splitting the data into Dependent(y) and Independent Columns(x)

In [20]:
x=df.drop(columns=['Approved_Flag'])
y=df['Approved_Flag']

In [21]:
df.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,...,0.0,0.0,0.0,0.0,1,0,PL,PL,696,P2
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,0.0,0.0,0.0,0.0,1,0,ConsumerLoan,others,693,P2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,...,0.0,0.0,0.0,0.0,0,0,others,others,673,P2
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,...,0.0,0.0,0.0,0.0,0,0,AL,AL,753,P1

#### Splitting the data into train and test

#### Seperating the numerical and categorical columns in the dataset.

In [22]:
numerical_columns=[]
categorical_columns=[]
for i in df.columns:
    if df[i].dtypes=='object':
        categorical_columns.append(i)
    else:
        numerical_columns.append(i)

In [23]:
print('Categorical Columns are :')
pd.DataFrame(categorical_columns)

Categorical Columns are :

                 0
0    MARITALSTATUS
1        EDUCATION
2           GENDER
3   last_prod_enq2
4  first_prod_enq2
5    Approved_Flag

In [24]:
print('Numerical Columns are :')
pd.DataFrame(numerical_columns)

Numerical Columns are :

                         0
0               PROSPECTID
1                 Total_TL
2            Tot_Closed_TL
3            Tot_Active_TL
4      Total_TL_opened_L6M
..                     ...
66  pct_PL_enq_L6m_of_ever
67  pct_CC_enq_L6m_of_ever
68                 HL_Flag
69                 GL_Flag
70            Credit_Score

[71 rows x 1 columns]

In [25]:
print(f'We have {len(numerical_columns)} Numerical columns and {len(categorical_columns)} Categorical columns.')

We have 71 Numerical columns and 6 Categorical columns.

#### Imputing missing values using KNN imputer.

In [26]:
#### Imputing null values
from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=5)
df_imputed=pd.DataFrame(imputer.fit_transform(df[numerical_columns]),columns=numerical_columns)

#### concatenating numerical and categorical columns.

In [27]:
final_df_imputed=pd.concat((df_imputed,df[categorical_columns]),axis=1)

#### Chi Square test : For analysing important categorical columns.

In [28]:
from scipy.stats import chi2_contingency

In [29]:
for i in categorical_columns:
    chi2,p_value,_,_=chi2_contingency(pd.crosstab(final_df_imputed[i],final_df_imputed['Approved_Flag']))
    print(i,'------',p_value)

MARITALSTATUS ------ 2.7588304433709322e-257
EDUCATION ------ 8.464676085080213e-38
GENDER ------ 0.0002450667989541709
last_prod_enq2 ------ 0.0
first_prod_enq2 ------ 0.0
Approved_Flag ------ 0.0

#### For every categorical column, pvalue is less than 0.05. So we reject null hypothesis. Our null hypothesis was that there is no relationship between the categorical columns. So all categorical variables are significant variables.

#### Analysing Multi Collinearity using Variance Inflation factor

In [30]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

#### Removing PROSPECTID column because its a Personal Identifier.

In [31]:
numerical_columns.remove ('PROSPECTID')

In [32]:
vif_data=final_df_imputed[numerical_columns]
total_columns=vif_data.shape[1]
columns_to_be_kept=[]
column_index=0

In [33]:
for i in range(0,total_columns):
    vif_value=variance_inflation_factor(vif_data,column_index)
    print(column_index,'------',vif_value)
    column_index+=1
    if vif_value<10:
        columns_to_be_kept.append(numerical_columns[i])

0 ------ inf
1 ------ inf
2 ------ inf
3 ------ 8.200392749399086
4 ------ 6.728917067986167
5 ------ 5.448123385446685
6 ------ 4.025651895201404
7 ------ inf
8 ------ 1154.9070399619238
9 ------ 15.027922432428458
10 ------ 8.925061333806436
11 ------ 3.7839174351476967
12 ------ 4.517664766598121
13 ------ 2.1367110714807045
14 ------ inf
15 ------ inf
16 ------ inf
17 ------ inf
18 ------ inf
19 ------ inf
20 ------ inf
21 ------ inf
22 ------ inf
23 ------ 1.5028686387631633
24 ------ 7.615797203831498
25 ------ 5.090107563326957
26 ------ inf
27 ------ inf
28 ------ inf
29 ------ 2.1186367091835754
30 ------ 13.667990931538197
31 ------ 8.243697374786564
32 ------ 6.117354219932596
33 ------ 14.045755463703415
34 ------ 21.810974212129192
35 ------ 1.5598652366821677
36 ------ 2.547274692120014
37 ------ 3.1031475514844202
38 ------ 2.1934716608130276
39 ------ 7.382593462764802
40 ------ 9.298471893381436
41 ------ 2.724345525129291
42 ------ 6.355263028774884
43 ------ 7.948924972488595
44 ------ 4.948065438658257
45 ------ 11.591132109148786
46 ------ 7.120120447470741
47 ------ 8.356697920881459
48 ------ 11.243979506628815
49 ------ 9.143322301957832
50 ------ 11.44338868875913
51 ------ 16.38022488637098
52 ------ 1.4180242696523624
53 ------ 24.176072117082036
54 ------ 21.466176852820503
55 ------ 5.798805109063224
56 ------ 1.3686289489029642
57 ------ 1.0563909308083805
58 ------ 1.2645035595073957
59 ------ inf
60 ------ 4.889467182758517
61 ------ 2.9385776345647643
62 ------ 2.3347888878508676
63 ------ 19.746935481119976
64 ------ 18.410483574347875
65 ------ 19.247865637505807
66 ------ 16.808545419088116
67 ------ 1.6940511835362442
68 ------ 4.177292522041172
69 ------ 3.2631018914861722

In [34]:
len(columns_to_be_kept)

38

In [35]:
df_after_vif=final_df_imputed[columns_to_be_kept + categorical_columns]

In [36]:
df_after_vif.shape

(51336, 44)

#### ANOVA Test

In [37]:
from scipy.stats import f_oneway

In [38]:
columns_to_be_kept_numerical=[]
for i in columns_to_be_kept:
  a=list(df_after_vif[i])
  b=list(df_after_vif['Approved_Flag'])

  group_p1=[value for value,group in zip(a,b) if group=='P1']
  group_p2=[value for value,group in zip(a,b) if group=='P2']
  group_p3=[value for value,group in zip(a,b) if group=='P3']
  group_p4=[value for value,group in zip(a,b) if group=='P4']

  f_statistic,p_value=f_oneway(group_p1,group_p2,group_p3,group_p4)
  if p_value<0.05:
    columns_to_be_kept_numerical.append(i)

In [39]:
len(columns_to_be_kept_numerical)

34

In [40]:
df_after_anova=df_after_vif[columns_to_be_kept_numerical + categorical_columns]

In [41]:
df_after_anova.shape

(51336, 40)

In [42]:
#### Our final dataset has 40 variables.

#### Analyzing unique values in the categorical columns of our final dataset

In [43]:
for i in df_after_anova.columns[df_after_anova.dtypes==object]:
    print(i)
    print(df_after_anova[i].unique())
    print('*'*10)

MARITALSTATUS
['Married' 'Single']
**********
EDUCATION
['12TH' 'GRADUATE' 'SSC' 'POST-GRADUATE' 'UNDER GRADUATE' 'OTHERS'
 'PROFESSIONAL']
**********
GENDER
['M' 'F']
**********
last_prod_enq2
['PL' 'ConsumerLoan' 'others' 'AL' 'CC' 'HL']
**********
first_prod_enq2
['PL' 'ConsumerLoan' 'others' 'AL' 'HL' 'CC']
**********
Approved_Flag
['P2' 'P1' 'P3' 'P4']
**********

#### The data in all the columns except EDUCATION and Approved_Flag does not seem to follow any order. So we will use one hot encoding for these columns.

In [44]:
df_after_anova=df_after_anova.drop(columns=['EDUCATION','Approved_Flag'])
df_after_anova=pd.get_dummies(df_after_anova,drop_first=True,dtype=int)

#### Now concatenating the dropped columns 'EDUCATION','Approved_Flag' to the dataset df3 again.

In [45]:
df_after_anova=pd.concat([df_after_anova,df_after_vif['EDUCATION'],df_after_vif['Approved_Flag']],axis=1)

In [46]:
df_after_anova.shape

(51336, 48)

#### Now converting columns Education and Approved_Flag to numeric data type.

In [47]:
df_after_anova.EDUCATION.unique()

array(['12TH', 'GRADUATE', 'SSC', 'POST-GRADUATE', 'UNDER GRADUATE',
       'OTHERS', 'PROFESSIONAL'], dtype=object)

In [48]:
dictionary={'12TH':2, 'GRADUATE':3, 'SSC':1, 'POST-GRADUATE':4, 'UNDER GRADUATE':3,'OTHERS':1, 'PROFESSIONAL':5}
df_after_anova['EDUCATION']=df_after_anova['EDUCATION'].map(dictionary)

In [49]:
df_after_anova.EDUCATION.unique()

array([2, 3, 1, 4, 5], dtype=int64)

In [50]:
dictionary1={'P1':0, 'P2':1, 'P3':2, 'P4':3}
df_after_anova['Approved_Flag']=df_after_anova['Approved_Flag'].map(dictionary1)

In [51]:
df_after_anova.Approved_Flag.unique()

array([1, 0, 2, 3], dtype=int64)

In [52]:
df_after_anova.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Total_TL_opened_L6M           51336 non-null  float64
 1   Tot_TL_closed_L6M             51336 non-null  float64
 2   pct_tl_open_L6M               51336 non-null  float64
 3   pct_tl_closed_L6M             51336 non-null  float64
 4   Tot_TL_closed_L12M            51336 non-null  float64
 5   pct_tl_open_L12M              51336 non-null  float64
 6   pct_tl_closed_L12M            51336 non-null  float64
 7   Tot_Missed_Pmnt               51336 non-null  float64
 8   time_since_recent_payment     51336 non-null  float64
 9   num_times_delinquent          51336 non-null  float64
 10  max_recent_level_of_deliq     51336 non-null  float64
 11  max_deliq_12mts               51336 non-null  float64
 12  num_times_60p_dpd             51336 non-null  float64
 13  num_std                       51336 non-null  float64
 14  num_sub                       51336 non-null  float64
 15  num_sub_12mts                 51336 non-null  float64
 16  num_dbt                       51336 non-null  float64
 17  num_dbt_12mts                 51336 non-null  float64
 18  num_lss                       51336 non-null  float64
 19  recent_level_of_deliq         51336 non-null  float64
 20  CC_enq                        51336 non-null  float64
 21  CC_enq_L6m                    51336 non-null  float64
 22  PL_enq                        51336 non-null  float64
 23  time_since_recent_enq         51336 non-null  float64
 24  enq_L3m                       51336 non-null  float64
 25  AGE                           51336 non-null  float64
 26  NETMONTHLYINCOME              51336 non-null  float64
 27  Time_With_Curr_Empr           51336 non-null  float64
 28  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 29  CC_Flag                       51336 non-null  float64
 30  PL_Flag                       51336 non-null  float64
 31  HL_Flag                       51336 non-null  float64
 32  GL_Flag                       51336 non-null  float64
 33  Credit_Score                  51336 non-null  float64
 34  MARITALSTATUS_Single          51336 non-null  int32
 35  GENDER_M                      51336 non-null  int32
 36  last_prod_enq2_CC             51336 non-null  int32
 37  last_prod_enq2_ConsumerLoan   51336 non-null  int32
 38  last_prod_enq2_HL             51336 non-null  int32
 39  last_prod_enq2_PL             51336 non-null  int32
 40  last_prod_enq2_others         51336 non-null  int32
 41  first_prod_enq2_CC            51336 non-null  int32
 42  first_prod_enq2_ConsumerLoan  51336 non-null  int32
 43  first_prod_enq2_HL            51336 non-null  int32
 44  first_prod_enq2_PL            51336 non-null  int32
 45  first_prod_enq2_others        51336 non-null  int32
 46  EDUCATION                     51336 non-null  int64
 47  Approved_Flag                 51336 non-null  int64
dtypes: float64(34), int32(12), int64(2)
memory usage: 16.4 MB

## We have converted the datatype to integer for categorical columns.

#### Splitting the data into independent and dependent variables

In [53]:
x=df_after_anova.drop('Approved_Flag',axis=1)
y=df_after_anova['Approved_Flag']

In [54]:
x.shape

(51336, 47)

In [55]:
y.shape

(51336,)

#### Splitting the data into train_test_split

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,random_state=42)

In [58]:
x_train.shape

(41068, 47)

In [59]:
x_test.shape

(10268, 47)

In [60]:
y_train.shape

(41068,)

In [61]:
y_test.shape

(10268,)

#### Analyzing the Dependent variable

In [62]:
y_train.value_counts(normalize=True)

Approved_Flag
1    0.628713
2    0.144054
0    0.113665
3    0.113568
Name: proportion, dtype: float64

#### From above we observe that our dataset is imbalanced. We will balance our dataset using SMOTE technique.

In [63]:
from imblearn.over_sampling import SMOTE

In [64]:
sm=SMOTE(random_state=42)
x_sm,y_sm=sm.fit_resample(x_train,y_train)

In [65]:
y_sm.value_counts()

Approved_Flag
0    25820
1    25820
3    25820
2    25820
Name: count, dtype: int64

#### Now we have observe that our dataset is balanced.

# Model Building

In [66]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [67]:
def final_model(classifier,x_sm,y_sm,x_test,y_test):
    model=classifier.fit(x_sm,y_sm)
    pred_train=model.predict(x_sm)
    pred_test=model.predict(x_test)
    
    # Confusion Matrix Train data
    print('Confusion Matrix on Training Data')
    cm_train=confusion_matrix(y_sm,pred_train)
    print(cm_train)
    
    # Confusion Matrix Test data
    print('Confusion Matrix on Test Data')
    cm_test=confusion_matrix(y_test,pred_test)
    print(cm_test)
    
    # Classification report Train data
    print('Classification report on Training Data')
    cr_train=classification_report(y_sm,pred_train)
    print(cr_train)
    
    # Classification report Test data
    print('Classification report on Test Data')
    cr_test=classification_report(y_test,pred_test)
    print(cr_test)
    
    return 'Final Model'

In [69]:
from sklearn.metrics import confusion_matrix,classification_report

# Decision Tree Classifier

In [70]:
classifier=DecisionTreeClassifier()
final_model(classifier,x_sm,y_sm,x_test,y_test)

Confusion Matrix on Training Data
[[25820     0     0     0]
 [    0 25820     0     0]
 [    0     0 25820     0]
 [    0     0     0 25820]]
Confusion Matrix on Test Data
[[1098    0   37    0]
 [   0 6349   30    0]
 [  34    0 1502    0]
 [   0    0    1 1217]]
Classification report on Training Data
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     25820
           1       1.00      1.00      1.00     25820
           2       1.00      1.00      1.00     25820
           3       1.00      1.00      1.00     25820

    accuracy                           1.00    103280
   macro avg       1.00      1.00      1.00    103280
weighted avg       1.00      1.00      1.00    103280

Classification report on Test Data
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      1135
           1       1.00      1.00      1.00      6379
           2       0.96      0.98      0.97      1536
           3       1.00      1.00      1.00      1218

    accuracy                           0.99     10268
   macro avg       0.98      0.98      0.98     10268
weighted avg       0.99      0.99      0.99     10268

'Final Model'

# RandomForestClassifier

In [71]:
classifier=RandomForestClassifier()
final_model(classifier,x_sm,y_sm,x_test,y_test)

Confusion Matrix on Training Data
[[25820     0     0     0]
 [    0 25820     0     0]
 [    0     0 25820     0]
 [    0     0     0 25820]]
Confusion Matrix on Test Data
[[1102   20   13    0]
 [   0 6378    1    0]
 [  26   58 1452    0]
 [   0    0    0 1218]]
Classification report on Training Data
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     25820
           1       1.00      1.00      1.00     25820
           2       1.00      1.00      1.00     25820
           3       1.00      1.00      1.00     25820

    accuracy                           1.00    103280
   macro avg       1.00      1.00      1.00    103280
weighted avg       1.00      1.00      1.00    103280

Classification report on Test Data
              precision    recall  f1-score   support

           0       0.98      0.97      0.97      1135
           1       0.99      1.00      0.99      6379
           2       0.99      0.95      0.97      1536
           3       1.00      1.00      1.00      1218

    accuracy                           0.99     10268
   macro avg       0.99      0.98      0.98     10268
weighted avg       0.99      0.99      0.99     10268

'Final Model'

# AdaBoostClassifier

In [72]:
classifier=AdaBoostClassifier()
final_model(classifier,x_sm,y_sm,x_test,y_test)

Confusion Matrix on Training Data
[[25521     0   299     0]
 [    0 25820     0     0]
 [   28 24935   857     0]
 [    0     0 25820     0]]
Confusion Matrix on Test Data
[[1090    0   45    0]
 [   0 6379    0    0]
 [   1 1428  107    0]
 [   0    0 1218    0]]
Classification report on Training Data
              precision    recall  f1-score   support

           0       1.00      0.99      0.99     25820
           1       0.51      1.00      0.67     25820
           2       0.03      0.03      0.03     25820
           3       0.00      0.00      0.00     25820

    accuracy                           0.51    103280
   macro avg       0.38      0.51      0.43    103280
weighted avg       0.38      0.51      0.43    103280

Classification report on Test Data
              precision    recall  f1-score   support

           0       1.00      0.96      0.98      1135
           1       0.82      1.00      0.90      6379
           2       0.08      0.07      0.07      1536
           3       0.00      0.00      0.00      1218

    accuracy                           0.74     10268
   macro avg       0.47      0.51      0.49     10268
weighted avg       0.63      0.74      0.68     10268

'Final Model'

# GradientBoostingClassifier

In [73]:
classifier=AdaBoostClassifier()
final_model(classifier,x_sm,y_sm,x_test,y_test)

Confusion Matrix on Training Data
[[25521     0   299     0]
 [    0 25820     0     0]
 [   28 24935   857     0]
 [    0     0 25820     0]]
Confusion Matrix on Test Data
[[1090    0   45    0]
 [   0 6379    0    0]
 [   1 1428  107    0]
 [   0    0 1218    0]]
Classification report on Training Data
              precision    recall  f1-score   support

           0       1.00      0.99      0.99     25820
           1       0.51      1.00      0.67     25820
           2       0.03      0.03      0.03     25820
           3       0.00      0.00      0.00     25820

    accuracy                           0.51    103280
   macro avg       0.38      0.51      0.43    103280
weighted avg       0.38      0.51      0.43    103280

Classification report on Test Data
              precision    recall  f1-score   support

           0       1.00      0.96      0.98      1135
           1       0.82      1.00      0.90      6379
           2       0.08      0.07      0.07      1536
           3       0.00      0.00      0.00      1218

    accuracy                           0.74     10268
   macro avg       0.47      0.51      0.49     10268
weighted avg       0.63      0.74      0.68     10268

'Final Model'

# XGBClassifier

In [74]:
classifier=XGBClassifier()
final_model(classifier,x_sm,y_sm,x_test,y_test)

Confusion Matrix on Training Data
[[25820     0     0     0]
 [    0 25820     0     0]
 [    0     0 25820     0]
 [    0     0     0 25820]]
Confusion Matrix on Test Data
[[1097    0   38    0]
 [   0 6379    0    0]
 [  16    0 1520    0]
 [   0    0    0 1218]]
Classification report on Training Data
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     25820
           1       1.00      1.00      1.00     25820
           2       1.00      1.00      1.00     25820
           3       1.00      1.00      1.00     25820

    accuracy                           1.00    103280
   macro avg       1.00      1.00      1.00    103280
weighted avg       1.00      1.00      1.00    103280

Classification report on Test Data
              precision    recall  f1-score   support

           0       0.99      0.97      0.98      1135
           1       1.00      1.00      1.00      6379
           2       0.98      0.99      0.98      1536
           3       1.00      1.00      1.00      1218

    accuracy                           0.99     10268
   macro avg       0.99      0.99      0.99     10268
weighted avg       0.99      0.99      0.99     10268

'Final Model'

# We observe that Decision Tree Classifier, Random Forest Classifier and XGB Classifier gave pretty good results.